@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reset default padding/margin */
html, body {
  @apply m-0 p-0;
}

@layer base {
  body {
    @apply font-sans text-slate-800 bg-[#f5f6fa];
  }
}

html,
body {
  height: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

/* Footer styling only */
.page-footer {
  border-top: 1px solid #e5e7eb;
  text-align: center;
  font-size: 0.875rem;
  color: #6b7280;
  padding: 1rem 0;
}

.dashboard-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

