@keyframes float-right {
  0% {
    transform: translateX(0);
    opacity: 0.8;
  }
  50% {
    transform: translateX(20px); /* how far it moves horizontally */
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}

.animate-float-right {
  animation-name: float-right;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
